<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="static/fontawesome/js/all.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="static/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="static/plugins/elegant_font/css/style.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="static/css/styles.css">
    <title>compound classifier</title>
</head>

<body>
    <!-- {% filter markdown %}
    #### Named Entity Recog
    =============
    {% endfilter %} -->
    <!-- ******Header****** -->

    <header id="header" class="header">
        <div class="container">
            <h1 class="logo">
                <a class="scrollto" href="#hero">
                    <span class="logo-icon-wrapper"><img class="logo-icon" src="../../images/Krishna-logo.jpg"
                            alt="icon"></span>
                    <span class="highlight">Website Name</span></a>
            </h1>
            <!--//logo-->
            <nav class="main-nav navbar-expand-md float-right navbar-inverse" role="navigation">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--//nav-toggle-->

                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="active nav-link scrollto" href="../index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#testimonials">About</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#features">Contacts</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#team">Publications</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#pricing">Thesis</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#contact">E-readers</a></li>
                    </ul>
                    <!--//nav-->
                </div>
                <!--//navabr-collapse-->
            </nav>
            <!--//main-nav-->
        </div>
        <!--//container-->
    </header>
    <!--//header-->



    <div id="black-line">

    </div>


    <div class="page-header theme-bg-dark py-5 text-center position-relative">
        <div class="theme-bg-shapes-right"></div>
        <div class="theme-bg-shapes-left"></div>
        <div class="container">
            <h1 class="page-heading single-col-max mx-auto">Word segmentation</h1>
            <div class="page-intro single-col-max mx-auto">Select the Transliteration scheme and Enter the text below to see prediction</div>
            <br>
            <div class="main-search-box pt-3 d-block mx-auto">
                <form class="search-form w-100" action="{{ url_for('predict')}}" method="post">
                    <label for="select-box-input-convention" id = "label-scheme">Transliteration scheme:</label>
                    <select name="Transliteration-scheme" id="select-box-input-convention">
                        <option class ="option-scheme" value="Velthuis">Velthuis</option>
                        <option class ="option-scheme" value="WX">WX</option>
                        <option class ="option-scheme" value="KH">KH</option>
                        <option class ="option-scheme" value="SLP1">SLP1</option>
                        <option class ="option-scheme" value="Devanagari">Devanagari</option>
                        <option class ="option-scheme" value="IAST">IAST</option>
                    </select>
                    <br><br>
                    <input type="text" placeholder="Enter the text..." name="search" class="form-control search-input"
                        id='input-search'>
                    <br>
                    <button type="submit" id = "submit-button" class="btn-enter" value="Search">
                        Enter
                    </button>
                </form>
            </div>
        </div>
    </div>

    <center>
        <br><br>
        {{result|safe}}
    </center>



    <br><br>
    <script>

        function myFunction1(id) {
            document.getElementById(id).style.borderWidth = '2px';
            document.getElementById(id).style.padding = "0px";
            // document.getElementById(id).style.fontWeight = 'bold';
        }
        function myFunction2(id){
            document.getElementById(id).style.borderWidth = '1px';
            document.getElementById(id).style.padding = "1px";
            // document.getElementById(id).style.fontWeight = '600';
        }
        function myFunction(id_name) {
            var tags = document.getElementsByClassName("prob-graph");
            for (var i = 0; i < tags.length; i++) {
                tags.item(i).style.display = "none";
            }
            document.getElementById(id_name).style.display = "inline-block";
        }
    </script>
</body>

</html>