<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #test {
            border: 2px solid red;
            display: inline-block;
            height: 20px;
            width: 200px;
            margin-left: 200px;
        }

        #test2 {
            border: 2px solid black;
            display: inline-block;
            margin-left: 200px;
            font-size: 17.6px;
        }
    </style>
</head>

<body>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:lang="en"
        id="8d280165a0b348389d0a2da9c0d87a02-0" class="displacy" width="925" height="399.5" direction="ltr"
        style="max-width: none; height: 399.5px; color: #000000; background: #ffffff; font-family: Arial; direction: ltr">
        <foreignObject class="node" x="225" y="309.5" width="100" height="100">
            <div style="border:1px green solid">..</div>
        </foreignObject>
        <text class="displacy-token" fill="currentColor" text-anchor="middle" y="309.5">
            <tspan class="displacy-word" fill="currentColor" x="225">is</tspan>
            <tspan class="displacy-tag" dy="2em" fill="currentColor" x="225">AUX</tspan>
        </text>
    </svg>
    <br><br><br><br>
    <div><select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      hello
    </div>
</body>

</html>